<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "logo" do %>
    <i class="fas fa-utensils"></i>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "All restaurants", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Add a restaurant", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-link"  %>
  </div>

</div>

